{% extends "base.html" %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <p class="fs-5 text-muted">Добро пожаловать в систему учета финансов. Управляйте своими сбережениями более эффективно и осознанно с помощью этой системы.</p>
  </div>
{% if request.user.is_authenticated %}
<a type="button" class="w-100 btn btn-lg btn-outline-primary" href='{% url "spending:index" %}'>Расходы</a>
<br>
<br>
<a type="button" class="w-100 btn btn-lg btn-outline-primary" href='{% url "income:index" %}'>Доходы</a>
{% else %}
<a type="button" class="w-100 btn btn-lg btn-outline-primary" href='{% url "users:login" %}'>Начать</a>
{% endif %}
{% endblock content %}