{% extends "base.html" %}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
<h1 class="h1 my-4">
    Список трат
</h1>
<a class="btn btn-primary mb-3" href="{% url "spending:create" %}">Создать трату</a>
<div class="card">
  <div class="card-body">
<form method="get">
    {{ filter1.form.as_p }}
    <br>
  <input type="submit" onclick="Data_reload()" value='Применить фильтр' class="btn btn-primary"/>
</form>
</div>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Номер счета</th>
        <th scope="col">Стоимость</th>
        <th scope="col">Категория</th>
        <th scope="col">Дата добавления</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for sp in filter1.qs %}
      <tr>
        <td>{{ sp.account }}</td>
        <td>{{ sp.price }}</td>
        <td>{{ sp.category }}</td>
        <td>{{ sp.timestamp }}</td>
        <td>
            <a class="btn btn-warning" href="{% url 'spending:update' pk=sp.id %}">Изменить</a>
            <a class="btn btn-danger" href="{% url 'spending:delete' pk=sp.id %}">Удалить</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
<br>
<br>
<br>

{% if data %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Название счёта</th>
        <th scope="col">Общие затраты</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for acc_id, bal in d2.items %}
      <tr>
        <td>{{ acc_id }}</td>
        <td>{{ bal }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
<br>
<br>
<h1>Диаграмма</h1>
<hr>
<br>
<br>
<div id="container" style="width: 75%;">
    <canvas id="pie-chart"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: [
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)',
          'rgb(255, 205, 86)',
          'rgb(158, 0, 0)',
          'rgb(189, 255, 0)',
          'rgb(6, 4, 255)',
          'rgb(6, 160, 95)'
          ],
          label: 'Costs'
        }],
        labels: {{ labels|safe }}
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };
</script>
{% else %}
<h1>
    Информация о данном отрезке отстутствует
</h1>
{% endif %}

{% endblock content %}